# compiled output
/dist
/node_modules
/build

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# misc
tmp/
*.tsbuildinfo
